
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,600&family=Montserrat+Alternates:wght@500&family=Montserrat:wght@500&family=Oswald&display=swap');

body{
    padding:0;
    margin:0;
    background: linear-gradient(45deg, white, grey, #cf9833);
    font-family: 'montserrat';
    letter-spacing: 0.2em;
    box-sizing: border-box;
    
}
#main{
    width:50%;
    padding:10px;
    padding-right:5px;
    background-color:rgba(252, 252, 252, 0.4);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:50px;
    font-size: 20px;
    

}
#header{
    color:white;
    background:rgb(15, 8, 8);
    height:80px;
    width:100%;
    margin:0px;
    padding:0px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}


#list{
    display:flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#list li {
    margin:10px;
}
#list li:hover{
    border: 1px solid transparent;
    transition: 0.3s ease;
  
}
#list li:hover{
    color:#cf9833;
}
a{
    text-decoration: none;
    color:azure
}
a:hover{
    color:#cf9833
}
img{
    width:120px;
    height:100px;
    border-radius:10px;
}
.food-class{
    display:flex;
    justify-content:space-between;
    align-items: center;
    
    margin:5px;

}
input{

    position:relative;
    left:50px;
    height:20px;
    width:250px;
}
